/* Neutraface 2 Display Font - processed by Vite at build time */
@font-face {
  font-family: 'Neutraface 2 Display';
  src: url('./assets/fonts/Neutraface_2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neutraface 2 Display';
  src: url('./assets/fonts/Neutraface_2.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
